# This is your .env file
# The data added here will be propagated to the client


# Firebase credentials

projectId=your-project-id
authDomain=your-project-id.firebaseapp.com
databaseURL=https://your-project-id.firebaseio.com
storageBucket=your-project-id.appspot.com
messagingSenderId=your-project-number e.g. 10...
apiKey=your-web-api-key e.g. AIza...
appId=your-webapp-app-id e.g. 1:10...:web:...


# promptToReloadNumber
# To prompt clients to reload a new version of this app,
# increment this number, then build and deploy. Then
# in Firestore console, change adHocDocs > appSummary >
# autoReloadNumber to be the same. This will immediately
# prompt clients to reload, as soon as they are online.

promptToReloadNumber=1